@media (max-width: 765px) {
  div #page-auth {
    flex-direction: column;

    aside {
      img {
        max-width: 220px;
      }
    }

    main {
      margin-top: 30px;
    }

    .main-content form button {
      margin-bottom: 10px;
    }
  }

  div #page-room {
    main {
      form .form-footer {
        display: flex;
        justify-content: space-around;
      }
    }
  }
} 

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f8f8f8;
  color: #29292e;
}

body, input, button, textarea {
  font: 400 16px 'Roboto', sans-serif;
}
